@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-primary: '#0C0C0C'
}

body, html {
  width: 100vw;
  height: 100%;
  background-color: var(--background-primary);
}

body {
  margin: 0;
  padding: 0;
  background-color: #0C0C0C;
}

button {
  border-radius: 8px;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  cursor: pointer;
}
